<footer class="article-footer">
    <div class="article-share-links">
        <a
            href="//www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank"
            class="waves-effect waves-light btn-floating btn-small social social-facebook"
        >
            <i class="fa fa-facebook"></i>
        </a>

        <a
            href="//twitter.com/share?url={{ .Permalink }}&amp;text={{ .Title }}&amp;via={{ .Site.Social.twitter }}" target="_blank" 
            class="waves-effect waves-light btn-floating btn-small social social-twitter"
        >
            <i class="fa fa-twitter"></i>
        </a>

        <a
            href="//www.linkedin.com/shareArticle?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank"
            class="waves-effect waves-light btn-floating btn-small social social-linkedin"
        >
            <i class="fa fa-linkedin"></i>
        </a>

        <a
            href="//reddit.com/submit?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank" 
            class="waves-effect waves-light btn-floating btn-small social social-reddit"
        >
            <i class="fa fa-reddit"></i>
        </a>

        <a
            href="//www.pinterest.com/pin/create/button/?url={{ .Permalink }}&amp;description={{ .Title }}" target="_blank"
            class="waves-effect waves-light btn-floating btn-small social social-pinterest"
        >
            <i class="fa fa-pinterest"></i>
        </a>

        <a
            href="mailto:?subject=Check out this post by {{ .Params.author }}&amp;body={{ .Permalink }}" target="_blank" 
            class="waves-effect waves-light btn-floating btn-small social social-email"
        >
            <i class="fa fa-envelope"></i>
        </a>
    </div>

    {{ if and (not (eq .Site.DisqusShortname "")) (not .Params.disable_comments) }}
    <a href="{{ .Permalink }}#disqus_thread" class="article-comment-link">
        {{with .Site.Data.l10n.articles.comments}}{{.}}{{end}}
    </a>
    {{end}}
    <script src="https://utteranc.es/client.js"
            repo="Cube219/Cube219.github.io"
            issue-term="Comments: {{ .Title }}"
            theme="github-light"
            crossorigin="anonymous"
            async>
    </script>
</footer>
