{{ if and (or .PrevInSection .NextInSection) (not .Params.noprevnext) }}
<nav id="article-nav">
    {{ if .NextInSection }}
    <a href="{{ .NextInSection.Permalink }}" id="article-nav-newer" class="btn waves-effect white grey-text text-darken-2">
      <!-- <strong class="article-nav-caption">
          {{with .Site.Data.l10n.articles.linked_posts.newer}}{{.}}{{end}}
      </strong> -->
      <!-- <div class="article-nav-title">{{ .NextInSection.Title }}</div> -->
      <i class="material-icons left">navigate_before</i>
      {{ .NextInSection.Title }}
    </a>
    {{ end }}
    
    {{ if .PrevInSection }}
    <a href="{{ .PrevInSection.Permalink }}" id="article-nav-older" class="btn waves-effect white grey-text text-darken-2">
      <!-- <strong class="article-nav-caption">
          {{with .Site.Data.l10n.articles.linked_posts.older}}{{.}}{{end}}
      </strong>
      <div class="article-nav-title">{{ .PrevInSection.Title }}</div> -->
      <i class="material-icons right">navigate_next</i>
      {{ .PrevInSection.Title }}
    </a>
    {{ end }}
</nav>
{{ end }}
