{{ if or (and .IsHome .Site.Params.displayHeaderInHome) (and (not .IsHome) .Site.Params.enableHeader) }}
    <header class="header">
        <div class="site-brand">
            <div>
                <a href="{{ print `/` | relLangURL }}">
                    <img src="{{ .Site.BaseURL }}images/logo_new.png" style="width:150px; margin-top:30px; margin-bottom: -1em;">
                </a>
            </div>
            {{ if .Site.Params.siteBrandSVG }}
            <a href="{{ print `/` | relLangURL }}">{{ .Site.Data.SVG.brand | safeHTML }}</a>
            {{ else }}
            <a href="{{ print `/` | relLangURL }}" class="brand">{{ .Site.Title }}</a>
            {{ end }}

            <ul class="social-nav-bar">
                {{ with .Site.Params.socialGithub }}
                <li class="social-nav-item">
                    <a class="social-link" href="{{ . }}" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                {{ end }}
                {{ with .Site.Params.socialGitlab }}
                <li class="social-nav-item">
                    <a class="social-link" href="{{ . }}" target="_blank">
                        <i class="fab fa-gitlab"></i>
                    </a>
                </li>
                {{ end }}
                {{ with .Site.Params.socialFacebook }}
                <li class="social-nav-item">
                    <a class="social-link" href="{{ . }}" target="_blank">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </li>
                {{ end }}
                {{ with .Site.Params.socialTwitter }}
                <li class="social-nav-item">
                    <a class="social-link" href="{{ . }}" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                {{ end }}
                {{ with .Site.Params.socialInstagram }}
                <li class="social-nav-item">
                    <a class="social-link" href="{{ . }}" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                {{ end }}
                {{ with .Site.Params.socialYoutube }}
                <li class="social-nav-item">
                    <a class="social-link" href="{{ . }}" target="_blank">
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>
                {{ end }}
                {{ with .Site.Params.socialMedium }}
                <li class="social-nav-item">
                    <a class="social-link" href="{{ . }}" target="_blank">
                        <i class="fab fa-medium"></i>
                    </a>
                </li>
                {{ end }}
                {{ with .Site.Params.socialLinkedin }}
                <li class="social-nav-item">
                    <a class="social-link" href="{{ . }}" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
                {{ end }}
                {{ with .Site.Params.socialPinterest }}
                <li class="social-nav-item">
                    <a class="social-link" href="{{ . }}" target="_blank">
                        <i class="fab fa-pinterest"></i>
                    </a>
                </li>
                {{ end }}
                {{ with .Site.Params.socialGoogleplus }}
                <li class="social-nav-item">
                    <a class="social-link" href="{{ . }}" target="_blank">
                        <i class="fab fa-google-plus"></i>
                    </a>
                </li>
                {{ end }}
                <li class="social-nav-item">
                    <a class="social-link" href="{{ .Site.BaseURL }}rss.xml" target="_blank">
                        <i class="fas fa-rss"></i>
                    </a>
                </li>
            </ul>
        </div>
    </header>
{{ end }}